body{
  Font-size: 16px;
  color: rgb(33, 37, 41);
  Font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 
}

#searchInput{
  Width: 241px;
   Height: 38px;
    Font-size: 16px;
     Background-color: rgb(255, 255, 255);
      Border-color: rgb(206, 212, 218);
       Padding: 6px 12px;
          Border-radius: 4px;
          margin: 10px
}
/* .container{
  margin: 100px;
  border: 4px;
} */

#userInput{
    width: '20px' !important;
    margin-Left: '10px' !important;
}

input:focus {
  border-color: #7952b3;
  box-shadow: 0 0 0 3px rgb(121 82 179 / 25%)
}

.container {
  max-width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.input-container {
  margin-bottom: 10px;
}

input[type="text"],
input[type="number"] {
  /* width: calc(100% - 22px); */
  height: 38px;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(206, 212, 218);
  padding: 6px 12px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

/* Responsive styles */
@media (max-width: 300px) {
  input[type="text"],
  input[type="number"] {
    width: calc(100% - 12px);
  }
}

.spinner {
  display: inline-block;
  margin: 20px 40px;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top-color: #009688;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
